---
title: Avatar Legends
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/assets/global.css" />
  </head>

  <body>
    <main>{{ content }}</main>
    <script type="module" src="/libs/router.js"></script>

    <script type="module" src="/web-components/list-playbooks.js"></script>
    <script type="module" src="/web-components/playbook-item.js"></script>
    <script type="module" src="/web-components/lang-switch.js"></script>
    <script type="module" src="/web-components/main-menu.js"></script>
    <script type="module" src="/web-components/back-home.js"></script>
  </body>
</html>
