:root {
  --color-details: #20fc8f;
  --color-bg: #272932;
  --color-main: #7d8491;
  --color-second: #123456;
}

body {
  background-image: url("/assets/avatarbg.webp");
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 100dvh;
  max-height: 100vdh;
  width: 100dvw;
  max-width: 100vdw;
  margin: 0;
  display: flex;

  main {
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.text-space {
  background-color: #fff;
  display: inline-block;
  min-width: 5rem;
  min-height: 1.5rem;
}

.hidden {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.app-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.app-scrollbar::-webkit-scrollbar-track {
  background: var(--color-bg);
}

.app-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-details);
  border-radius: 20px;
  border: 2px solid var(--color-bg);
}

.app-scrollbar {
  scrollbar-width: auto;
  scrollbar-color: var(--color-details) var(--color-bg);
}

.btn {
  padding: 1rem;
  background-color: color-mix(in srgb, var(--color-main), rgba(255, 255, 255, 0) 0%);
  text-align: center;
  border-radius: 15px;

  &:hover {
    background-color: color-mix(in srgb, var(--color-main), rgba(255, 255, 255, 0) 50%);
  }
}
