---
layout: layout.html
---

<style>
  web-router {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    web-route {
      width: 90%;
      padding: 1rem;
      height: 600px;
      border: 5px double var(--color-details);
      overflow: auto;
    }
  }
</style>
<web-router>
  <web-route class="app-scrollbar" path="home">
    <main-menu></main-menu>
  </web-route>
  <web-route class="app-scrollbar" path="playbooks">
    <list-playbooks></list-playbooks>
  </web-route>
</web-router>

<lang-switch></lang-switch>
